{% extends "base.html" %}
{% block content %}
    <h1>This is the trading page!</h1>
    {% from "_formhelpers.html" import render_field %}
    <form id="trade_form" method=post action="/">
        {{ render_field(form.userId) }}
        {{ render_field(form.currencyFrom) }}
        {{ render_field(form.currencyTo) }}
        {{ render_field(form.amountSell) }}
        {{ render_field(form.amountBuy) }}
        {{ render_field(form.rate) }}
        {{ render_field(form.timePlaced) }}
        {{ render_field(form.originatingCountry) }}
        <button type="button" id="makeTrade">Trade</button>
    </form>
    <ul>
        {% for trade in trades %}
        <li>| {{ trade.id }} | {{ trade.userId }} | {{ trade.currencyFrom }} | {{ trade.currencyTo }} | {{ trade.amountSell }} | {{ trade.amountBuy }} | {{ trade.rate }} | {{ trade.timePlaced }} | {{ trade.originatingCountry }} |</li>
        {% endfor %}
    </ul>
    <script src="{{ url_for('static', filename='js/trades.js') }}"></script>
{% endblock %}

self.userId = user
self.currencyFrom = cfrom
self.currencyTo = cto
self.amountSell = sell
self.amountBuy = buy
self.rate = rate
self.timePlaced = time
self.originatingCountry = origin
