{% extends "base.html" %}
{% block content %}
    {% from "_formhelpers.html" import render_field %}
    <div class="modal fade" id="requestModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Trade Request</h4>
          </div>
          <div class="modal-body">
            <p id="requestMessage">Making request</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div class="container">
        <form id="trade_form" method=post action="/">
            <h2>This is the trading page!</h2>
            {{ render_field(form.userId) }}
            {{ render_field(form.currencyFrom) }}
            {{ render_field(form.currencyTo) }}
            {{ render_field(form.amountSell) }}
            {{ render_field(form.amountBuy) }}
            {{ render_field(form.rate) }}
            {{ render_field(form.timePlaced) }}
            {{ render_field(form.originatingCountry) }}
            <button type="button" id="makeTrade">Trade</button>
        </form>
    </div>
    <div class="container">
        <table class="table table-striped">
            <thead><tr>
                <th>Trade ID</th>
                <th>User ID</th>
                <th>Currency From</th>
                <th>Currency To</th>
                <th>Amount Sell</th>
                <th>Amount Buy</th>
                <th>Rate</th>
                <th>Origination Country</th>
            </tr></thead>
            <tbody>
                {% for trade in trades %}
                    <tr>
                        <th>{{ trade.id }}</th>
                        <th>{{ trade.userId }}</th>
                        <th>{{ trade.currencyFrom }}</th>
                        <th>{{ trade.currencyTo }}</th>
                        <th>{{ trade.amountSell }}</th>
                        <th>{{ trade.amountBuy }}</th>
                        <th>{{ trade.rate }}</th>
                        <th>{{ trade.timePlaced }}</th>
                        <th>{{ trade.originatingCountry }}</th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="{{ url_for('static', filename='js/trades.js') }}"></script>
{% endblock %}
